@model mvc_course_work.Models.Entities.Driver
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/driver.css" />
    <title;></title;>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Races', 'Podiums'],
              ['2015', @Model.races.Where(x=>x.year.Equals(2015)).Count(), @Model.podiums.Where(x=>x.year.Equals(2015)).Count()],
                  ['2016', @Model.races.Where(x=>x.year.Equals(2016)).Count(), @Model.podiums.Where(x=>x.year.Equals(2016)).Count()]
            ]);
            var options = {
                chart: {
                    title: 'Driver Perfomance',
                    subtitle: 'Races, Podiums: 2015-2016',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>

    <div class="biography">
        <img src="@Model.picture" class="photo">
        <table cellspacing="5" cellpadding="5">
            <tr>
                <td>Family name</td>
                <td>
                  
                    @Model.familyName
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.name</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>@Model.date</td>
            </tr>
            <tr>
                <td>Place of birth</td>
                <td>@Model.placeOfBirth</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>@Model.country</td>
            </tr>
            <tr>
                <td>Team</td>
                <td>@Model.Team.Name</td>
            </tr>
            <tr>
                <td>Points</td>
                <td>@Model.points</td>
            </tr>
        </table>
    </div>
    <p style="font-family:Tahoma; font-size:20px;">@Model.shortBiography</p>
    <div id="columnchart_material" style="width: 900px; height: 500px; margin-left:auto; margin-right:auto"></div>

    <iframe class="youtube-player" type="text/html" width="780" height="385" style="margin-left:10px" src="https://www.youtube.com/embed/49LNI2S8gMA" frameborder="0"></iframe>
    <iframe class="youtube-player" type="text/html" width="780" height="385" style="vertical-align:central" src="https://www.youtube.com/embed/DhmqADtaC_o" frameborder="0"></iframe> }
</body>
</html>
