@model mvc_course_work.Models.Entities.Race
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/race.css" />
    <title></title>
</head>
<body>
    <div class="race-header">

        <!--Race Name-->
        <h1>@Model.Name</h1>
        <!--Race City-->
        <h2>@Model.country</h2>
    </div>
    <div class="race">
        <div class="circuit">
            <div class="circuit-header">
                <h3>@Model.Name</h3>
            </div>
            <div class="circuit-info">
                <div class="circuit-info-table">
                    <div class="circuit-info-container">
                        <h5 class="circuit-info-title">First Grand Prix</h5>
                        <p class="circuit-info-value">@Model.firstGrandPrix</p>
                    </div>

                    <div class="circuit-info-container">
                        <h5 class="circuit-info-title">
                            Number
                            <br />
                            of Laps
                        </h5>
                        <p class="circuit-info-value">@Model.numberOfLaps</p>
                    </div>

                    <div class="circuit-info-container">
                        <h5 class="circuit-info-title">Circuit Length</h5>
                        <p class="circuit-info-value">
                            @Model.circuitLength<span class="subtext">KM</span>
                        </p>
                    </div>


                    <div class="circuit-info-container">
                        <h5 class="circuit-info-title">Race Distance</h5>
                        <p class="circuit-info-value">
                            @Model.raceDistance<span class="subtext">KM</span>
                        </p>
                    </div>

                    <div class="circuit-info-container">
                        <h5 class="circuit-info-title">
                            Lap<br />
                            Record
                        </h5>
                        <p class="circuit-info-value">@Model.lapRecord</p>
                    </div>
                </div>


                <div class="circuit-map">
                    <img src="@Model.mapPhoto" />
                </div>
            </div>
        </div>
        <!--
                <div class="references">
                    <ul>
                        <li>ref1</li>
                        <li>ref2</li>
                        <li>ref3</li>
                    </ul>
                </div>
        -->

    </div>

    <div class="content">
        <div class="content-text">
            <h3>@Model.country</h3>
            <h4>
                @Model.Description;
            </h4>
        </div>

    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <button type="submit" name="delete" value="delete" onclick="@Model.">delete</button>
        }
    }
</body>
</html>