<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Formula 1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/menu.css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.intellisense.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.menu.js"></script>
</head>
<body style="background-size:100%">
    @{
        var kek = new mvc_course_work.Models.DAL.UnitOfWork();
        List<mvc_course_work.Models.Entities.Driver> drivers = kek.Drivers.GetAll().ToList();
        List<mvc_course_work.Models.Entities.Team> teams = kek.Teams.GetAll().ToList();
        List<mvc_course_work.Models.Entities.Race> races = kek.Races.GetAll().ToList();
    }
    <div class="header">
        <div class="header-logo">@Html.ActionLink(" ", "Index", "Home", null, new { @class = "navbar-brand" })</div>
        <ul class="header-menu">
            <li>
                <a href="#">DRIVERS</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Driver", new { drivers[i].Id })">@drivers[i].name @drivers[i].familyName</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Driver")">see all drivers</a></li>
                </ul>
            </li>
            <li>@Html.ActionLink("VIDEO", "About", "Home")</li>
            <li>
                <a href="#">RACES</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Race", new { races[i].Id })">@races[i].country</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Race")">see all races</a></li>
                </ul>
            </li>
            <li>
                <a href="#">TEAMS</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Team", new { teams[i].Id })">@teams[i].Name</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Team")">see all teams</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Contacts")">Обратная связь</a>
            </li>
            <li>
                <a href="#">Chat</a>
            </li>

        </ul>
        <div class="header-login">@Html.Partial("_LoginPartial")</div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Formula 1</p>
        </footer>
    </div>  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
/*
париматч
*/