<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Formula 1</title>
    <link rel='stylesheet prefetch' href="~/Content/bootstrap.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://comet-server.ru/CometServerApi.js"></script>
    <script type="text/javascript" src="https://comet-server.ru/doc/html_chat.js"></script>
    <link rel="stylesheet" type="text/css" href="https://comet-server.ru/doc/html_chat.css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-2.2.3.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    <link rel="stylesheet" href="~/Content/menu.css" />
    <script type="text/javascript" src="~/Scripts/jquery.menu.js"></script>
</head>
<body style="background-size:100%;">
    @{
        var kek = new mvc_course_work.Models.DAL.UnitOfWork();
        List<mvc_course_work.Models.Entities.Driver> drivers = kek.Drivers.GetAll().ToList();
        List<mvc_course_work.Models.Entities.Team> teams = kek.Teams.GetAll().ToList();
        List<mvc_course_work.Models.Entities.Race> races = kek.Races.GetAll().ToList();
    }
    <div class="header">
        <div class="header-logo">@Html.ActionLink(" ", "Index", "Home", null, new { @class = "navbar-brand" })</div>
        <ul class="header-menu">
            <li>
                <a href="#">DRIVERS</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Driver", new { drivers[i].Id })">@drivers[i].name @drivers[i].familyName</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Driver")">see all drivers</a></li>
                </ul>
            </li>
            <li>@Html.ActionLink("VIDEO", "About", "Home")</li>
            <li>
                <a href="#">RACES</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Race", new { races[i].Id })">@races[i].country</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Race")">see all races</a></li>
                </ul>
            </li>
            <li>

                <a href="#">TEAMS</a>
                <ul id="submenu">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li><a href="@Url.Action("Index", "Team", new { teams[i].Id })">@teams[i].Name</a></li>
                    }
                    <li class="last"><a href="@Url.Action("All","Team")">see all teams</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Contacts")">Обратная связь</a>
            </li>
            <li>
                <a href="#">Chat</a>
            </li>

        </ul>
        <div class="header-login">@Html.Partial("_LoginPartial")</div>
    </div>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="html-chat"></div>
            <style>
                /* Здесь настроим css стили для чата*/
                .holder-html-chat {
                    border: 1px solid #ccc;
                    padding: 10px;
                    background-color: #fff;
                    width: 600px;
                }

                .html-chat-history {
                    max-width: 600px;
                    overflow: auto;
                    max-height: 900px;
                    border: 1px solid #ccc;
                    padding: 5px;
                }

                .html-chat-js-name {
                    margin-top: 10px;
                }

                .html-chat-js-input {
                    max-width: 600px;
                    max-height: 100px;
                    width: 600px;
                    margin-top: 10px;
                }

                .html-chat-js-button-holder {
                    margin-bottom: 0px;
                    margin-top: 10px;
                }

                    .html-chat-js-button-holder input {
                        width: 220px;
                    }

                .html-chat-js-answer {
                    float: right;
                }

                    .html-chat-js-answer a {
                        color: #777;
                        font-size: 12px;
                        font-family: cursive;
                    }

                        .html-chat-js-answer a:hover {
                            color: #338;
                            font-size: 12px;
                            font-family: cursive;
                        }

                .html-chat-msg {
                    margin: 0px;
                }
            </style>

            <script>

                /**
                 * Чат работает на comet-server.ru
                 * По любым вопросам обращайтесь support@comet-server.ru или на сайт comet-server.ru
                 */
                $(document).ready(function () {
                    // Запуск api комет сервера
                    CometServer().start({ dev_id: 3 }) // Идентификатор разработчика на comet-server.ru

                    // Запуск чата. Передаём ему элемент в котором надо создать окно чата.
                    htmljs_Chat_Init($("#html-chat"))
                });
            </script>
            <p>&copy; @DateTime.Now.Year - Formula 1</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>